{% extends "base.html.twig" %}

{% block body %}
    <div class="body">
        <img id="home_img" src="{{ asset('img/e-motion_desc.jpg') }}">
        <div id="present">
            <h2>société e-Motion</h2>
            <p>
                La société e-Motion est une société de location de véhicule électrique basé à Paris et Lyon.L’entreprise réalise un CA de 15M€, emploie 50 personnes dans ses différents services, et s’appuie sur un réseau de revendeurs répartis sur l’ensemble du territoire français.
                Ses bureaux sont à Paris, où se situe son siège social, et à Lyon où une succursale démarre son activité
            </p>
        </div>
    </div>
{% endblock %}