{% extends 'base.html.twig' %}

{% block body %}
    <table>
        <thead>
        <tr>
            <th>Type</th>
        </tr>
        </thead>
        <tbody>
        {% for category in categories %}
        <tr>
            <td>{{ category.type }}</td>
            <td><a href="{{ path('categoryedit', {id: category.id}) }}">Modifier</a></td>
            <td><a href="{{ path('categorydelete', {id: category.id}) }}">Supprimer</a></td>
        {% endfor %}
        </tbody>
    </table>
   
{% endblock %}