{% extends 'base.html.twig' %}

{% block title %}Gestion des utilisateurs!{% endblock %}

{% block body %}

    <div class="btn-group-vertical" data-toggle="buttons">
        <button type="button" class="btn btn-primary" onclick="document.location.href=' {{ path('admin_user_list') }}'">Afficher tout les utilisateurs</button>
        <button type="button" class="btn btn-primary" onclick="document.location.href=' {{ path('admin_user_new') }}'">Créer un utilisateur </button>

    </div>


{% endblock %}
