{% extends 'base.html.twig' %}

{% block body %}
        {{ form_start(rentForm) }}
        {{ form_rest(rentForm) }}
        <button type="submit">Réserver</button>
        {{ form_end(rentForm) }}
{% endblock %}