{% extends 'base.html.twig' %}

{% block title %}Hello RentController!{% endblock %}

{% block body %}
<form name="date" method="post" action="">
<p>
    <input type="date" name="start_date"/>
    <input type="date" name="end_date"/>
    <a href="{{ path('search') }}">
    <input type="button" value="Reserver"/>
    </a>
</p>
</form>
{% endblock %}
